.param {
  width: 300px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

input {
  text-align: right;
  padding: 10px 5px;

}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
  margin-left: 5px;
} 

button {
  margin-top: 1rem;
}

mat-expansion-panel.mat-expansion-panel, mat-expansion-panel-header.mat-expansion-panel-header {
  background-color: lavender !important;
}

.table-content {
  margin: 0 1rem;
  position: relative;
  min-height: 200px;
  max-height: 580px;
  overflow: auto;
}

.table {
  width: 100%;
}

th {
  font-weight: bold;
}

td {
  text-align: right;
  font-size: 12px;
}

tr > th {
  color: #080808;
  font-size: 0.75rem;;
  text-align: right;
}

tr:nth-child(odd) {
  background: #3f51b5a6;
}

tr:nth-child(odd) > td {
  color: #fefefe;
}

.obs {
  margin-top: 1rem;
}

.tab-content {
  padding-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .table-content {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
  }

  td {
    font-size: 14px;
  }
}
