<div class="param">
  <form [formGroup]="myForm" (submit)="calcularPM()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input formControlName="price" type="number" name="price" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Preço Médio Atual</mat-label>
      <input formControlName="currentAveragePrice" type="number" name="price" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Quantidade atual</mat-label>
      <input formControlName="currentQty" type="number" name="price" matInput>
    </mat-form-field>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Opções
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline">
        <mat-label>Quantidade total de iterações</mat-label>
        <input formControlName="iterations" type="number" matInput>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Quantidade a somar a cada iteração</mat-label>
        <input formControlName="iteration" type="number" matInput>
      </mat-form-field>
  
    </mat-expansion-panel>
    <button [disabled]="myForm.invalid" mat-raised-button color="primary" type="submit">Calcular</button>
  </form>
</div>
<div class="table-content">
  <table mat-table [dataSource]="calculado" class="mat-elevation-z8 table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="qtd">
      <th mat-header-cell *matHeaderCellDef>Qtd</th>
      <td mat-cell *matCellDef="let element">{{element.qtd}}</td>
    </ng-container>
    
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Montante*</th>
      <td mat-cell *matCellDef="let element">{{element.amount}}</td>
    </ng-container>
  
    <ng-container matColumnDef="qtdTotal">
      <th mat-header-cell *matHeaderCellDef>Qtd Tot.</th>
      <td mat-cell *matCellDef="let element">{{element.qtdTotal}}</td>
    </ng-container>
  
    <ng-container matColumnDef="vlTotal">
      <th mat-header-cell *matHeaderCellDef>Vlr.Tot.*</th>
      <td mat-cell *matCellDef="let element">{{element.vlTotal}}</td>
    </ng-container>
    
    <ng-container matColumnDef="newpm">
      <th mat-header-cell *matHeaderCellDef>PM*</th>
      <td mat-cell *matCellDef="let element">{{element.newpm}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <p class="obs"><strong>(*) Montante, valor total e preço médio não inclui o valor de taxas, ou seja, é um valor aproximado.</strong></p>
</div>